.content-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.spacer {
  flex: 1 1 auto;
}

mat-card {
  margin-top: 20px;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
}

button {
  margin-left: 8px;
}
