<form [formGroup]="form" class="w-full">

<div class="data-view-container p-4 bg-gray-50 rounded-lg shadow-md">
  <div class="flex md:flex-row gap-4">
    <mat-form-field class="w-full md:w-1/3">
      <mat-label>Select Entity</mat-label>
      <mat-select formControlName="entity">
        @for (entity of entities; track entity) {
          <mat-option [value]="entity.name">
          {{entity.name}}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-full md:w-1/3">
      <mat-label>Organizations</mat-label>
      <mat-select formControlName="organization">
        @for (entity of orgs(); track entity) {
          <mat-option [value]="entity.login">
          {{entity.login}}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-full md:w-1/3">
      <mat-label>Organizations</mat-label>
      <mat-select formControlName="repository">
        @for (entity of repos(); track entity.name) {
          <mat-option [value]="entity.name">
          {{entity.name}}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-full md:w-1/3">
      <input matInput placeholder="Search" (keyup)="onSearch($event)">
    </mat-form-field>
  </div>

  <ag-grid-angular
    class="ag-theme-material w-full rounded overflow-hidden data-grid"
    [gridOptions]="gridOptions"
    [rowData]="rowData">
  </ag-grid-angular>
</div>
</form>
